@model BeastWorkout.Models.Person

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="container main_container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h1>Mon compte</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="details_container">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Lastname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Lastname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Firstname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Firstname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Mail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Mail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Login)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Login)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>
                    <dd class="col-sm-10">
                        @* @Html.DisplayFor(model => model.Password) *@
                        @for (int i = 0; i < Model.Password.Length; i++)
                        {
                            @Html.Raw("*")
                            ;
                        }
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Password_reset_token)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Password_reset_token)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Auth_key)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Auth_key)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Created_at)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Created_at)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Updated_at)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Updated_at)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Is_validate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Is_validate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id_type_person)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id_type_person)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id_country)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id_country)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>