@model List<BeastWorkout.Models.PersonProgram>

@{
    ViewData["Title"] = "AddMyNewProgram";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

@* <div class="container main_container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <form asp-action="AddMyNewProgram" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.Count > 0)
                {
                    <div class="form-group">
                        <label asp-for="@Model[0].Id_program" class="control-label"></label>
                        <select name="Id_program" class="form-control" asp-items="@ViewBag.List">
                            <option value="">Sélectionnez le programme</option>
                        </select>
                        <span asp-validation-for="@Model[0].Id_program" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Choisir" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3><a class="nav-link text-white" asp-action="CreateMyProgram" asp-route-id_person="@BeastWorkout.Session.SessionHelper.person.Id">Créer un programme</a></h3>
        </div>
    </div>
</div> *@

<div class="container-fluid second_container">
    <div class="row">
        @foreach (var personProgram in Model)
        {
            <div class="container allprograms_container my-2 text-center">
                <h3>@personProgram.Program.Name</h3>
                <div class="row">
                    @foreach (var programTraining in personProgram.ProgramTrainings)
                    {
                        <div class="col-md-6">
                            <div class="container alltrainings_container">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <p>Exercice</p>
                                            </th>
                                            @foreach (var prop in typeof(TrainingExercice).GetProperties())
                                            {
                                                if (prop.Name != "Training" && prop.Name != "Exercice" && prop.Name != "Id_training" && prop.Name != "Id_exercice")
                                                {
                                                    <th>
                                                        <p>@prop.Name</p>
                                                    </th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <h3>@programTraining.Training.Name</h3>
                                        @foreach (var exercice in programTraining.Exercices)
                                        {
                                            <tr>
                                                <td>@exercice.Exercice.Name</td>
                                                <td>@exercice.Serie</td>
                                                <td>@exercice.Reps</td>
                                                <td>@exercice.Weight</td>
                                                <td>@exercice.Rpe</td>
                                                <td>@exercice.Distance</td>
                                                <td>@exercice.Time</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    <div class="container my-4 add_container mb-4">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 btn-custom text-center">
                                <form asp-action="AddMyNewProgram" method="post">
                                    <input type="hidden" name="Id_program" value="@personProgram.Program.Id" />
                                    <input type="hidden" name="Id_person" value="@BeastWorkout.Session.SessionHelper.person.Id" />
                                    <input type="submit" value="Choisir ce programme" class="nav-link text-white" />
                                </form>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="MyPrograms" asp-route-id="@BeastWorkout.Session.SessionHelper.person.Id">Back to List</a>
</div>

